.section {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    row-gap: 30px;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 250px;
}
.img {
    background-color: #F0EEED;
    border-radius: 20px;
    width: 100%;
    height: 300px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img img {
    width: 90%;
}
.keterangan {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding-left: 15px;
}
@media (max-width: 1100px) {
    .container {
        width: min-content(150px);
    }
    .img {
        height: 250px;
    }
    .img img {
        height: 90%;
    }
}
@media (max-width: 600px) {
    .container {
        width: 180px;
    }
    .img {
        height: 230px;
    }
}
@media (max-width: 350px) {
    .section {
        margin: 0;
        gap: 5px;
    }
    .container {
        width: 145px;
    }
    .img {
        height: 200px;
    }
}