.section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
    padding: 50px 10px 30px;
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 70px;
    text-align: start;
    padding-left: 15px;
}
.container a {
    width: fit-content;
}
.section h1 {
    font-size: 60px;
}
@media (max-width: 900px) {
    .container{
        padding-left: 50px;
    }
}

@media (max-width: 600px) {
    .container{
        padding-left: 15px;
        display: flex;
        overflow: scroll;
        overflow-y: hidden;
        gap: 15px;
    }
    .section {
        gap: 15px;
    }
    .section h1 {
        font-size: 35px;
    }
}