.container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.containerStyle {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.style {
    display: flex;
    justify-content: space-between;
    width: 150px;
    background-color: transparent;
    color: black;
    cursor: pointer;
}