.section {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 20px 24px;
    border-radius: 20px;
    border: 1px solid #f0f0f0;
}
.judul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.category {
    display: flex;
    justify-content: space-between;
}
.size {
    display: flex;
    gap: 10px;
}